#container {
  height: 700px;
  width: 400px;
  position: relative;
}

#image {
  position: absolute;
  width: 400px;
  height: 700px;
  left: 0;
  top: 0;
}

#text {

  width: 400px;
  height: 150px;
  background: black;
  
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 36px;
  font-weight: bold;
  left: 150px;
  top: 200px;
}


